nav > ul > li.previous {
    text-align: left;
}
nav > ul > li.previous > :only-child::before {
    content: "< "
}
nav > ul > li.first-in-topic {
    text-align: center;
}
nav > ul > li.next {
    text-align: right;
}
nav > ul > li.next > :only-child::after {
    content: " >"
}
nav.msg-nav li {
    width: 20%;
}
div.msg {
    max-width: 80em;
    margin: 0 auto;
}
div.msg-body blockquote {
    color: darkblue;
}
ul.msg-list span.subject {
    font-weight: bold;
}
ul.msg-list span.author {
    font-style: italic;
}
td a:only-child {
    display: block;
}
